* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  background-color: hsl(233, 47%, 7%);
  color: hsl(0, 0%, 100%);
  font-family: 'Lexend Deca', sans-serif;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  gap: 2rem;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 950px;
  max-height: 360px;
  overflow: hidden;
}

.content {
  background-color: hsl(244, 38%, 16%);
  padding: 3rem;
  overflow: hidden;
  border-radius: 0.75rem 0 0 0.75rem;
}

.image {
  display: block;
  max-width: 492px;
  opacity: 0.55;
  border-radius: 0 0.75rem 0.75rem 0;
}

picture {
  background-color: hsl(277, 64%, 61%);
  border-radius: 0 0.75rem 0.75rem 0;
}

.title {
  font-size: 2rem;
  font-weight: 700;
  max-width: 335px;
  min-width: 335px;
}

.purple {
  color: hsl(277, 64%, 61%);
}

.stat-txt,
.des-txt {
  font-family: 'Inter', sans-serif;
  color: hsla(0, 0%, 100%, 0.75);
  font-size: 0.85rem;
}

.des-txt {
  margin-top: 1.75rem;
  line-height: 1.35rem;
  max-width: 325px;
  min-width: 325px;
}

.stats-container {
  display: flex;
  gap: 2rem;
  margin-top: 3rem;
}

.stat-txt {
  margin-top: 0.25rem;
  color: hsla(0, 0%, 100%, 0.6);
  font-weight: 700;
  font-size: 0.65rem;
  letter-spacing: 0.075rem;
}

.stats {
  font-size: 1.45rem;
  font-weight: 700;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media only screen and (max-width: 1000px) {
  .container {
    display: grid;
    grid-template-columns: 1fr;
    max-height: none;
    max-width: 375px;
    overflow: hidden;
  }
  .content {
    border-radius: 0 0 0.75rem 0.75rem;
    text-align: center;
    padding: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 320px;
    min-width: 90px;
    overflow: hidden;
  }
  picture {
    grid-row: 1 / 1;
    max-width: 375px;
    border-radius: 0.75rem 0.75rem 0 0;
  }
  .image {
    max-width: 375px;
    border-radius: 0.75rem 0.75rem 0 0;
  }
  .title {
    font-size: 2rem;
    font-weight: 700;
  }
  .des-txt {
    font-size: 1rem;
    line-height: 1.5rem;
    width: 200px;
  }
  .stats-container {
    flex-direction: column;
  }
}
